AIRFLOW_UID=50000
AZURE_TENANT_ID=seu_tenant_id
AZURE_CLIENT_ID=seu_client_id
AZURE_CLIENT_SECRET=seu_client_secret
LAKEHOUSE_URI_BRONZE=abfss://Bomgado@onelake.dfs.fabric.microsoft.com/armazem_lh.Lakehouse/Tables/dbo/bronze_treinamento
LAKEHOUSE_URI_PREVISAO=abfss://Bomgado@onelake.dfs.fabric.microsoft.com/armazem_lh.Lakehouse/Tables/dbo/previsao_demanda_diaria_v2
MLFLOW_TRACKING_URI=http://mlflow-server:5000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
